body {
    background-color: magenta;
}
.site-title {

    text-align: center;
}
nav {
    text-align: center;
    margin-right: 2rem;
}
nav li {
    list-style: none;
    display: inline;
    padding: 1rem 2rem;
    border: 1px solid black;
    margin: 10%;
}

h2 {
    border: 1px solid black;
}
.main-banner {
    width: 35%;
    margin: auto;
    margin-top: 2rem;
}

.container {
    border: 1px solid black;
    width: 25%;
    margin-top: 2rem;
}

.container h2 {
    text-align: center;
}
.container-band {
    margin: 0 auto;
}

ol {
    border: 1px solid black;
}

ol li {
    border: 1px solid black;
}

.band-video {
    margin: 0 auto;
    padding-top: 2rem;
    height: 315px;
    width: 560px;
}